/** CSS Page for first hw assignment**/
* {
  box-sizing: border-box;
}
body {
	background-image: url(../images/organic-tiles.png);
	background-color: #777777;
	font-size: 15px;
	line-height: 32px;
	width: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

/***Heading Styling****/
header {
	width: 100%;
	height: 80px;
	margin: 0px 0px 20px 0px;
	background: #FFFFFF;
	border: 1px solid #cccccc;
	padding: 0px 30px 15px 30px;
	}
	
#name {
	position: relative;
	float: left;
	height: 80px;
	border: 1px solid #cccccc;
	right-margin: 50px;
	padding: 30px;
	background: #4aaaa5 ;
	font-size: 24px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #FFFFFF;
	}	
.navigation {
	position: relative;
	padding: 30px;
}

.navigation li:not(:first-child):before {
    content: " | ";
}
ul {
	list-style-type: none;
	text-align: right;
	}
li {
	border: none;
	display: inline;

}
/****Generic Page Body Styling*****/
h1, h2 {
	color: #4aaaa5;
	font-size: 25px;
}
.page_body {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin-bottom: -50px;

}
.page_content {
	position: relative;
	float: left;
	width: 650px;
	border: 1px solid #dddddd;
	margin: 10px 100px 10px 30px;
	padding: 28px;
	background: #ffffff;
	text-align: left;
}
#connect {
	position: relative;
	float: left;
	width: 270px;
	border: 1px solid #dddddd;
	margin: 10px 20px 10px 10px; 
	padding: 30px;
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: center;
}
/****Index Page Styling*****/
#prof_pic {
	float: left;
	margin: 10px 20px 10px 0px;
}
#prof_text {
	position: relative;
}

/*****Portfolio Page Styling*****/
.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
}
.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}
/****Contact Page Styling*****/
form {
	width: 100%;
}

textarea {
	width: inherit;
}

/*****Footer Styling****/
footer {
	clear: both;	
	width: 100%; 
	height: 40px;
	padding: 32px 10px;
	background-color: #666666;
	color: #ffffff;
	font-size: x-small;
	text-align: center;
	border-top: 10px solid #4aaaa5;
	}


@media screen (max-width: 980px) {
	header {
		width: 100%
	}
	
	
}
@media screen and (max-width: 768px) {
	body header {
		width: 100%}
	#name {
		float: left;
		width: 150px;
		margin-left: 12px;
	}
	.page_body {
		width: 100%;
	}
	.page_content {
		position: static;
		margin: auto;
		clear: both;
		width: 95%;
	}
	#connect {
		position: static;
		align-content: left;
		margin: auto;
		clear: both;
		width: 95%;
	}
	/****Index Page Styling****/
	#prof_pic {
		float: left;
		width: 200px;
		height: 150px;
	}
	#prof_text {
		position: relative;
	}
	/****Portfolio Page Styling****/
	.work {
		align-content: center;
	}
	.work_image {
		box-sizing: content-box;
	}	
	
}

@media screen and (max-width: 640px) {
	/****basic page styling****/
	header {
		padding: 0px 0px 10px 0px;
		margin-bottom: 40px;
	}
	#name {
		position: static;
		clear: both;
		margin: auto;
		width: 100%;
		text-align: center;
	}
	.navigation {
		position: static;
		padding: 10px;
		background: #ffffff;
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
	}
	ul {
		text-align: center;
	}
	.page_body {
		position: relative;
		width: 100%;
		clear: both;
	}
	.page_content{
		clear: both;
		position: static;
		width: 95%;
		margin: 10px;
		align-content: center;

	}

	#connect {
		position: static;
		width: 95%;
		align-content: center;
		margin: 10px;
	}
	/****contact page styling****/
	.contact_form {
		width: 100%;
	}
	form {
		width: 240px;
	}
	textarea {
		width: inherit;
	}
	/****index page styling*****/
	#prof_pic {
		clear: both;
		position: static;
		height: 180px;
		align-content: center;
	}
	#prof_text {
		position:static;
		font-size: small;
		line-height: 20px; }
	/****Portfolio Page Styling****/
	.work {
		align-content: center;
		padding: 10px;
		width: inherit;
	}
	}	
	h3 {
		width: inherit;
		padding: 0px;
		position: relative;
		font-size: small;
		display: inline;
	}

	
}


